@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&display=swap');

*{
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--whiteBlue);
}

:root{
  --whiteColor: #ffffff;
  --whiteBlue: #EDF2F6;
  --blackMuted: #646C73;
  --darkBlack: #161616;
  --webColor: #1B1464;
  --darklight: #eee;
  --shadowLevelOne: 0px 3px 8px rgba(0,0,0,0.024);
}

.Link{
  text-decoration: none;
  color: var(--webColor);
}

.commonBox{
    background-color: var(--whiteColor);
    border-radius: 10px;
    box-shadow: var(--shadowLevelOne);
}